<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unitviewer</title>
</head>
<body>
<form action="/find-army" method="post">
    <select name="army">
        <option selected disabled>Army</option>
        <option value = "ImperialGuard">Imperial Guard</option>
        <option value = "Necrons">Necrons</option>
        <option value = "SpaceMarines">Space Marines</option>
    </select>
</form>
{{#armyOptions}}
<form action="/find-unit" method="post">
    <select name="unit">
        {{#army}}
            {{.}}
        {{/army}}
    </select>
</form>
{{/armyOptions}}
<button type="submit">Submit</button>

{{#units}}
<img src="units.image">
{{/units}}
</body>
</html>
