<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unitviewer</title>
</head>
<body>
<form action="/find-army" method="post">
    <select name="army" onchange="this.form.submit()">
        <option selected disabled>Army</option>
        <option value = "ImperialGuard">Imperial Guard</option>
        <option value = "Necrons">Necrons</option>
        <option value = "SpaceMarines">Space Marines</option>
    </select>
</form>
{{#selectedArmy}}
<form action="/find-unit" method="post">
    <select name="id" onchange="this.form.submit()">
        <option selected disabled>Unit</option>
        {{#armyOptions}}
            <option value="{{id}}">{{name}}</option>
        {{/armyOptions}}
    </select>
</form>
{{/selectedArmy}}

{{#units}}
<img src="{{image}}">
{{/units}}
</body>
</html>
