<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unitviewer</title>
</head>
<body>
<form>
    <select name="army">
        <option selected disabled>Army</option>
        <option value = "ImperialGuard">Imperial Guard</option>
        <option value = "Necrons">Necrons</option>
        <option value = "SpaceMarines">Space Marines</option>
    </select>
</form>
{{#army}}
<form>
    <select name="unit">
        {{#army}}
            {{.}}
        {{/army}}
    </select>
</form>
{{/army}}
<button type="submit">Submit</button>

{{#unit}}
{{/unit}}
</body>
</html>
